
resources/Compact DWBL IRMMW-THz 2026 abstract.docx

resources/Compact DWBL IRMMW-THz 2026 abstract.pdf

resources/DWBL abstract for photonics west v3.docx

resources/DWBL RIKEN.png

resources/flyer v5.svg

resources/IRMMW DWBL Poster v3.pptx

resources/Quantinuum application questions v3.docx

resources/Scott Egbert Resume.pdf
